@charset "utf-8";
html,body{
	background-color:#ebf4ff;
}

#header{
	width:100%;
  height:45px;
}

#contact-header{
	display:block;
	/*margin:20px auto 0;*/
	margin:1.4%	 auto 0;
	width: 60.9%;
}

#form{
	background-color: #baeafd;
	width: 58.1%;
	margin: 1.9% auto 0;
	border-radius: 13px;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	-khtml-border-radius: 13px;
	line-height: 150%;
	padding:20px;
}

#form .txt1{
	padding:0 0 20px 0;
}

#form p{
	padding:10px 0 5px 0;
	font-weight:600;
}

#contact-backtotop{
	display:block;
	margin:20px auto;
}

.red{
	color: #F00;
	font-weight: 600;
}

/*.imgline{
	width: 736px;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 16px;
}*/

.sectionline{
	width: 100%;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 16px;
}
.btn-download, .img{
	  display: inline-block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 32.8%;
}
.btn-download{
	text-align: center;

}

.textq10 {
  width: 99%;
  margin: 0px;
  height: 93px;
}




@media only screen and (max-width:800px) {	

	#header {
	  width: 100%;
	}
	/*input.ans1
	{
		width: 30px;
		height: 30px;
	}*/

    .paddingClass{

        margin:20px;
        padding:5px;
    }

	#contact-header {
		  width: 100%;
		}	

	#form {
	  background-color: #baeafd;
	  width: 99%;
	  margin: 5% auto 0;
	  line-height: 150%;
	  padding: 0;
	}	

	.textq10 {
	  width: 99%;
	  margin: auto;
	  height: 93px;
	}

}

/*@media only screen and (max-width:500px) {	

	div#nol_header div.nol_inner p.nol_logo {
	  margin-left: auto;
	  margin-right: auto;
	  width: 28%;
 	  float: none !important;
	}

	div#nol_header div.nol_inner p.nol_logo img {
	  margin: 10px 24px 0 23px !important;
	}		


	div#nol_header div#nol_headerGroup{
	  margin-left: auto;
	  margin-right: auto;
	  
 	  float: none !important;

	}


	div#nol_header *, div#nol_footer * {
	  margin: 0;
	  padding: 0;
	  font-size: 12px;
	  line-height: 1;
	}


}*/






