@charset "utf-8";
html,body{
	background-color:#ebf4ff;
}

#header{
	width:100%;
  height:45px;
}

#contact-header{
	display:block;
	margin:20px auto 0;
}

#form{
	background-color: #baeafd;
	width: 686px;
	margin: 20px auto 0;
	border-radius: 13px;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	-khtml-border-radius: 13px;
	line-height: 150%;
	padding:20px;
}

#form .txt1{
	padding:0 0 20px 0;
}

#form p{
	padding:10px 0 5px 0;
	font-weight:600;
}

#contact-backtotop{
	display:block;
	margin:20px auto;
}

.red{
	color: #F00;
	font-weight: 600;
}

/*.imgline{
	width: 736px;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 16px;
}*/

.sectionline{
	width: 100%;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 16px;
}
.btn-download, .img{
	  display: inline-block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 32.8%;
}
.btn-download{
	text-align: center;

}

.textq10 {
  width: 90%;
  margin: 0px;
  height: 93px;
}




