@charset "utf-8";
html,body{
	background-color:#ebf4ff;
}

#header{
	width:100%;
  height:45px;
}

#contact-header{
	display:block;
	/*margin:20px auto 0;*/
	margin:1.4%	 auto 0;
	width: 60.9%;
}

#form{
	background-color: #baeafd;
	width: 58.1%;
	margin: 1.9% auto 0;
	border-radius: 13px;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	-khtml-border-radius: 13px;
	line-height: 150%;
	padding:20px;
}

#form .txt1{
	padding:0 0 20px 0;
}

#form p{
	padding:10px 0 5px 0;
	font-weight:600;
}

#contact-backtotop{
	display:block;
	margin:20px auto;
}

.red{
	color: #F00;
	font-weight: 600;
}

/*.imgline{
	width: 736px;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 16px;
}*/

.sectionline{
	width: 100%;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 16px;
}
.btn-download, .img{
	  display: inline-block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 32.8%;
}
.btn-download{
	text-align: center;

}

.textq10 {
  width: 99%;
  margin: 0px;
  height: 93px;
}

.sex {

	margin-left: -9px;
}


@media only screen and (max-width:800px) {	

	body{

		  font-size: 12px!important;
	}

	input[type=checkbox], input[type=radio] {
			/* All browsers except webkit*/
			transform: scale(1.5);

			/* Webkit browsers*/
			-webkit-transform: scale(1.5);
			margin-bottom: 0px;
			margin-left: 18px;
			margin-right: 20px;
			margin-top: 0px;

    }

	.sex {

		margin-left: 5px;
	}

	.align{
		display: inline-block;
		width: 300px;
	}

	.block{
		display: block;
	}

	#header {
	  width: 100%;
	}

    .paddingClass{

        margin:20px;
        padding:5px;
    }

	#contact-header {
		  width: 100%;
		}	

	#form {
	  background-color: #baeafd;
	  width: 94%;
	  margin: 5% auto 0;
	  line-height: 150%;
	  padding: 3%;
	}	

	.textq10 {
	  width: 99%;
	  margin: auto;
	  height: 93px;
	}

}





